@font-face{
  font-family: lobster;
  src: URL("Lobster-Regular.ttf");
}
nav{ 
  width: 100%;
  height: 100px;
  background-color: white;
  font-size: small;
  list-style: none;
  text-align: left;
  margin: 5px;
  padding: 10px 10px 10px 10px;
}

form {
  width: 50%;
  padding: 20px;
  background-color: lightgray;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: #000;
  border-style: dotted;
  padding: 5px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: #000;
  border-style: dotted;
}

th {
  background-color: #f2f2f2;
  border: #000;
  border-style: dotted;
}

/* Apply alternate colors to data rows */
tr:nth-child(even) {
  background-color: #cd8ddf;
}

tr:nth-child(odd) {
  background-color: #8c5df0;
}

h1 {
    color: #BA7BF0;
    font-family: lobster;
    text-align: center; 
  }

  a {
    background-color: #eb8f83;
    margin: 5px;
    padding: 2px 5px 5px 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: initial;
  }

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size:x-large;
  background-color: antiquewhite;
  background-origin: unset;
  border:#20b9e3;
  border-style:solid;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

blockquote {
  font-size:x-large;
  font-family: cursive;
}

h3 ul li {
  background-color: antiquewhite;
  border:#eb8f83;
  border-style: dotted;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}


h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
  border:#eb8f83;
  border-style: dotted;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

section {
  background-color:#20b9e3;
  border:#000;
  border-style: dotted;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  font-size:x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

body{
  background-image: url(images/pencils.jpg);
  padding-bottom: 100px;
  background-size: cover;

}

footer{
  background-color: #eb8f83;
  border:#BA7BF0;
  border-style: dotted;
  text-align: left;
  padding: 2px 2px 2px 2px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position:sticky;
  display: inline-block;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display:none;
}
#toggle {
  display: none;
}
.pic{
  width:25px;
  height: 25px;
}
.picbig{
  position:absolute;
  height: 0px;
  width: 0px;
  -webkit-transition:width 0.3s linear 0s;
  transition: width 0.3s linear 0s; 
  z-index: 50;
}
.pic:hover + .picbig {
  width:100px;
  height: 100px;
  transition-duration: 5ms;
}





@media only screen and (min-width:400px) {
p {
  font-size: 1.25rem;
}
img {
  resize: 25px;
}
  
} 


@media only screen and (max-width:800px){
p {
  font-size:1rem;
  line-height:1.5;
}
nav {
  font-size: 5px;
}
h1 {
  font-size: 1.25rem;
}
img {
  resize: 25px;
}
}


@media only screen and (max-width: 640px) {
  .responsive{
    width:100%;
    height:auto;
    font-size: small;
  }
  
  label {
      display:block;
      cursor: pointer;
  }
  .menu {
      display: none;
      text-align: center;
      width: 100%;
      font-size: small;
  }
  .menu a {
      display: block;
      border-bottom: 3px solid #6d6de0;
      margin: 0
      
  }
  #toggle:checked + .menu {
      display:block;
  }
  img {
    flex-shrink:initial;
  }

}

/*Print Stylesheet*/
@media print {
  *{
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  nav{
    display: none;
  }
}