h1 {
    color: #BA7BF0;
    font-family:cursive 
  }

  a {
    background-color: #eb8f83;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

p {
  font-family: Arial, Helvetica, sans-serif;
}

blockquote {
  font-size:x-large;
  font-family: cursive;
}

