@font-face{
  font-family: lobster;
  src: URL("Lobster-Regular.ttf");
}

h1 {
    color: #BA7BF0;
    font-family: lobster;
    text-align: center; 
  }

  a {
    background-color: #eb8f83;
    margin: 5px;
    padding: 2px 5px 5px 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: initial;
  }

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size:x-large;
  background-color: antiquewhite;
  background-origin: unset;
  border:#20b9e3;
  border-style:solid;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

blockquote {
  font-size:x-large;
  font-family: cursive;
}

h3 ul li {
  background-color: antiquewhite;
  border:#eb8f83;
  border-style: dotted;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
  border:#eb8f83;
  border-style: dotted;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  position: relative;
  font-display:initial;
  display: inline-block;
}

body{
  background-image: url(images/pencils.jpg);
  padding-bottom: 100px;
  background-repeat: none;
  background-size: cover;

}

nav{ 
  width: 100%;
  height: 100px;
  background-color: white;
  list-style: none;
  text-align: left;
  margin: 5px;
  padding: 10px 10px 10px 10px;

}

footer{
  background-color: #eb8f83;
  border:#BA7BF0;
  border-style: dotted;
  text-align: center;
  padding: 2px 2px 2px 2px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position:sticky;
  display: inline-block;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display:none;
}
#toggle {
  display: none;
}





@media only screen and (min-width:400px) {
p {
  font-size: 1.25rem;
}
img {
  size: 25px;
}
  
} 


@media only screen and (max-width:800px){
p {
  font-size:1rem;
  line-height:1.5;
}
nav {
  font-size: 15px;
}
h1 {
  font-size: 1.25rem;
}
img {
  size: 25px;
}
}


@media only screen and (max-width: 640px) {
  .responsive{
    width:100%;
    height:auto;
  }
  
  label {
      display:block;
      cursor: pointer;
  }
  .menu {
      display: none;
      text-align: center;
      width: 100%;
  }
  .menu a {
      display: block;
      border-bottom: 3px solid #6d6de0;
      margin: 0
  }
  #toggle:checked + .menu {
      display:block;
  }
  img {
    flex-shrink: 10px;
  }

}

/*Print Stylesheet*/
@media print {
  *{
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  nav{
    display: none;
  }
}
